@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #F1EFF0;
}

.menu-item {
  font-size: 9pt;
  color: #fff;
}

.queue {
  border-radius: 0 0 8px 8px;
}

.react-datepicker-wrapper {
  width: 100%;
}
